*.iml
/local.properties
.DS_Store
.externalNativeBuild


*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.log
.navigation/
captures/
*.iml
.idea/
.externalNativeBuild

release/
captures/
